*.class
*.html

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

dependency-reduced-pom.xml

# IDEA #
*.iml
.idea
*~

# eclipse specific git ignore
.project
.metadata
.classpath
.settings/

# tomee plugin
.distribution

# Maven files #
data/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
src/main/static/node_modules/
src/main/static/bower_components/
src/main/static/node/

# Misc #
*.log
*.bat
/bin/

# JRebel config files #
rebel.xml
/build/

# EC2
.elasticbeanstalk

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Mac OS X
**/*.DS_Store

# it holds sensitive data. It should not go to github.
src/main/resources/base.properties

#VS code
.history/
.vscode/

!docs/**/*
