option_settings:
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:ec2:vpc:
    VPCId: vpc-d45cceb3
    Subnets: subnet-56b30431,subnet-2b1e2b73
    ELBSubnets: subnet-56b30431,subnet-2b1e2b73
    ELBScheme: external
    AssociatePublicIpAddress: true
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
  aws:autoscaling:launchconfiguration:
    EC2KeyName: microprofile-key-pair
    SecurityGroups: sg-60335118
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: TCP:8080
  aws:elb:loadbalancer:
    CrossZone: true
    SecurityGroups: sg-60335118
  aws:elb:listener:80:
    InstancePort: 8080
    InstanceProtocol: HTTP
