option_settings:
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:ec2:vpc:
    VPCId: vpc-d097b6b5
    Subnets: subnet-e10c25b8,subnet-766c8d12
    ELBSubnets: subnet-a4cde1fd,subnet-52d43536
    ELBScheme: external
    AssociatePublicIpAddress: true
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Rolling
    BatchSizeType: Percentage
    BatchSize: 50
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: true
    RollingUpdateType: Health
    MaxBatchSize: 1
    Timeout: PT7M
  aws:autoscaling:launchconfiguration:
    EC2KeyName: microprofile-key-pair
    SecurityGroups: sg-43a33627
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: TCP:8080
  aws:elb:loadbalancer:
    CrossZone: true
    SecurityGroups: sg-43a33627
  aws:elb:listener:80:
    InstancePort: 8080
    InstanceProtocol: HTTP
