div
  .pic
    img(src="app/images/presentation-pic.png")
  .text
    div
      h2 MicroProfile Presentation
      p This #[a(href="app/presentations/MicroProfile.pdf" target="_blank") presentation] covers the when, where, what, how and why of the MicroProfile initiative. You can freely download, share and show this presentation!
