div(ng-href="{{normalizeUrl(entry.url)}}")
    div(microprofileio-blog-user, data-entry="entry")
    .banner(ng-show="entry.image")
    h1
        a(ng-href="{{normalizeUrl(entry.url)}}") {{entry.title}}
    p {{entry.extract}}
    .footer
        div
            span continue reading
        div(microprofileio-blog-list-entry-share, data-entry="entry")
