div
  p Help Enterprise Java better align with a Microservices architecture.
    | Join the MicroProfile Google Group,
    | peruse recent topics or create your own, and join in on the conversation. It’s that easy!
  a(href="https://groups.google.com/forum/#!forum/microprofile", target="_blank").join-us Join the discussion