div
  div(ng-click="toggleExpanded()")
    i.fa.fa-bars
  ul
    li
      a(href="projects") Projects
    li
      a(href="presentations") Presentations
    li
      a(href="faq") Faq
    li
      a(href="contributors") Contributors
    li
      a(href="https://groups.google.com/forum/#!forum/microprofile", target="_blank") Join the discussion
    li
      a(href="https://projects.eclipse.org/projects/technology.microprofile/developer", target="_blank") See the code
