div
  div(ng-click="toggleExpanded()")
    i.fa.fa-bars
  ul
    li
      a(href="presentations") Presentations
    li
      a(href="faq") Faq
    li
      a(href="contributors") Contributors
    li
      a(href="https://groups.google.com/forum/#!forum/microprofile", target="_blank").join-us Join the discussion
    li
      a(href="https://projects.eclipse.org/projects/technology.microprofile/developer", target="_blank").join-us Core code at Eclipse
    li
      a(href="https://github.com/microprofile", target="_blank").join-us Other code
