div
  .text
    div
      h2 MicroProfile Presentation
      p This #[a(href="https://drive.google.com/open?id=1BYfVqnBIffh-QDIrPyromwc9YSwIbsawGUECSsrSQB0" target="_blank") presentation] covers the when, where, what, how and why of the MicroProfile initiative. The link will open a Google Slides file, which you can freely download (File->Download as), share and show this presentation!
  .pic
    img(src="app/images/presentation-pic.png")
