.list
    div(microprofileio-blog-list-entry, data-entry="entry", ng-repeat="entry in entries")
.side
    div(microprofileio-blog-list-tags, data-dto="dto")
    div(microprofileio-blog-list-archive, data-dto="dto")
