div
  div(ng-click="toggleExpanded()")
    i.fa.fa-bars
  ul
    li(ng-class="{'selected': selectedItem === 'home'}")
      a(href=".") Home
    li(ng-class="{'selected': selectedItem === 'docs'}")
      a(href="docs") Documents
    li(ng-class="{'selected': selectedItem === 'contributors'}")
      a(href="contributors") Contributors
