div
  a.project-card-body(ng-href="project/{{project.info.name}}")
    h3 {{name}}
    p {{project.info.description | microprofileioTruncateText:130}}
  .project-card-footer
    div(microprofileio-project-card-contributors, data-project="project")
    div
      i(microprofileio-share-project, data-media="twitter", data-project="project").fa.fa-twitter
      i(microprofileio-share-project, data-media="facebook", data-project="project").fa.fa-facebook
