div
  .text
    div
      h2 MicroProfile Presentation
      p This #[a(href="https://github.com/microprofile/microprofile-site-config/raw/master/presentations/microprofile.pdf" target="_blank") presentation] covers the when, where, what, how and why of the MicroProfile initiative. You can freely download, share and show this presentation!
  .pic
    img(src="app/images/presentation-pic.png")