div
  .footer-body
    a(href=".")
      img(src="app/images/eclipse_logo_white.png")
    .links
      a(href="http://www.eclipse.org/", target="_blank") Eclipse Foundation
      a(href="https://eclipse.org/legal/privacy.php", target="_blank") Privacy Policy
      a(href="https://eclipse.org/legal/termsofuse.php", target="_blank") Terms of Use
      a(href="https://eclipse.org/legal/copyright.php", target="_blank") Copyright Agent
      a(href="http://www.eclipse.org/legal", target="_blank") Legal Resources
  .footer-observation
    p Eclipse MicroProfile is open source project under the #[a(href="https://www.apache.org/licenses/LICENSE-2.0.html") Apache License 2.0].