div
  div
    h2 Help optimize Enterprise Java for a microservices architecture.
    p Join the MicroProfile Google Group, peruse recent topics or create your own, and join in on the conversation. It's that easy!
  a(href="https://groups.google.com/forum/#!forum/microprofile", target="_blank") Join the discussion