div
  .side-bar
    .resources(ng-show="project.detail.info.name")
      h1 External resources
      div
        p(ng-show="project.detail.info.name")
          a(ng-href="https://github.com/{{name}}{{version ? '/tree/' + version : ''}}", target="_blank") Source Code
    .docs(ng-show="project.detail.info.resources.length")
      h1 Documents
      div
        p(ng-repeat="resource in project.detail.info.resources")
          a(ng-href="/project/{{project.detail.info.name}}/{{resource.url}}") {{resource.title ? resource.title : resource.url}}
    .related(ng-show="otherProjects")
      h1 Other projects
      div
        p(ng-repeat="related in otherProjects")
          microprofileio-project-doc-related(config-file="related")
    .contributors(ng-show="project.detail.contributors && project.detail.contributors.length > 0")
      h1 Cool people that helped make this happen
      div
        microprofileio-contributor-summary(ng-repeat="contributor in project.detail.contributors | orderBy:'contributions':true", login="contributor.login")
  .content(ng-show="project.doc", ng-bind-html="project.doc")
