div
  h1 Our tweets and retweets
  div
    div(ng-repeat="tweet in tweets | orderBy:'date':true")
      img(ng-src="{{tweet.image}}")
      div
        h1
          a(ng-href='https://twitter.com/{{tweet.author}}', target="_blank") {{tweet.authorName ? tweet.authorName : '@' + tweet.author }}
        h2
          a(ng-href='https://twitter.com/{{tweet.author}}/status/{{tweet.id}}', target="_blank") {{tweet.date | date : 'medium'}}
        p {{tweet.message}}