div
  div(ng-click="toggleExpanded()")
    i.fa.fa-bars
  ul
    li(ng-class="{'selected': selectedItem === 'docs'}")
      a(href="projects") Projects
    li(ng-class="{'selected': selectedItem === 'contributors'}")
      a(href="contributors") Contributors
