a(ng-href="{{normalizeUrl(entry.url)}}")
    div(microprofileio-blog-user, data-entry="entry")
    div(ng-show="entry.image").banner
    h1 {{entry.title}}
    p {{entry.extract}}
    div
        span continue reading