eeio-header.home
  eeio-application-page-header(resource="resource")
.page-body.home
  .card.logos
    img(src="https://placehold.it/100x100")
    img(src="https://placehold.it/100x100")
    img(src="https://placehold.it/100x100")
    img(src="https://placehold.it/100x100")
    img(src="https://placehold.it/100x100")
  .card.text-image
    div
      div
        h2 Powerful design prototyping tools
        p Get high-fidelity in under 5 minutes. Upload your design files and add animations, gestures, and transitions to transform your static screens into clickable, interactive prototypes.
    div
      img(src="https://placehold.it/200x200")
  .card.image-text.white
    div
      img(src="https://placehold.it/200x200")
    div
      div
        h2 Seamless design communication
        p Simplify your feedback process by having clients, team members, and stakeholders comment directly on your designs. See new feedback for all your projects in one convenient place, or drill down by active project, specific people, or your own name.
  .card.image-text
    div
      img(src="https://placehold.it/200x200")
    div
      div
        h2 Reimagined design ideation and presentation
        p Create context around your projects with Boards—flexible spaces to store, share, and talk about design ideas. Built-in layout options allow you to create visual hierarchy for your ideas.
  .card.email
    div
      h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      div
        input(type="text", placeholder="Email Address")
        div
      div
        span nec semper sapien tellus
      button BIG BUTTON
  .card.more-info
    h2 More info can go here
    h3 Duis ultrices aliquet lectus ut ullamcorper. Cras non mauris quis nibh scelerisque finibus nec sit amet lectus.
    div
      .info-item
        div
          i.fa.fa-battery-quarter
        h3 TITLE
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet sed libero
          | sed tincidunt. Sed auctor sodales venenatis.
      .info-item
        div
          i.fa.fa-battery-half
        h3 TITLE
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet sed libero
          | sed tincidunt. Sed auctor sodales venenatis.
      .info-item
        div
          i.fa.fa-battery-full
        h3 TITLE
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet sed libero
          | sed tincidunt. Sed auctor sodales venenatis.
  .card.survey
    h2 Take a quick Survey
    h3 Duis ultrices aliquet lectus ut ullamcorper. Cras non mauris quis nibh scelerisque finibus nec sit amet lectus.
    div
      iframe(src="https://docs.google.com/forms/d/1Y-iMjaDDHNH9Lf_nY9cTNBhieCkKWjJldZTrVgFJkpM/viewform?embedded=true", frameborder="0", marginheight="0", marginwidth="0") Loading...
  div(eeio-card-twitter)
eeio-footer
