microprofileio-header.forum
  h1 Our public discussions
  h2 Every thing that happens in our #[a(href='https://groups.google.com/forum/#!forum/microprofile-guardians', target="_blank") Forum]
.page-body.forum
  div
    microprofileio-googlegroups-shortlist
microprofileio-footer
