microprofileio-header.docs
  h1 All projects
.projects-subtitle
  h3 You can use the code from these repositories to experiment, test, build, create patches, issue pull requests, etc.
.page-body.docs
  div
    microprofileio-projects-shortlist
microprofileio-footer
