microprofileio-header.home
  microprofileio-application-page-header
.page-body.home
  .card.logos
    div
      a(href="https://developer.ibm.com/wasdev/websphere-liberty/", target="_blank")
        img(src="app/images/ibm.png")
      a(href="http://www.meetup.com/Londonjavacommunity/", target="_blank")
        img(src="app/images/ljc.png")
      a(href="https://www.redhat.com/", target="_blank")
        img(src="app/images/redhat.png")
      a(href="http://www.tomitribe.com/", target="_blank")
        img(src="app/images/tomitribe.png")
      a(href="http://www.payara.fish/", target="_blank")
        img(src="app/images/payara.png")
      a(href="https://soujava.org.br/", target="_blank")
        img(src="app/images/soujava.png")
      a(href="https://www.hazelcast.com/", target="_blank")
        img(src="app/images/hazelcast.png")
      a(href="https://www.fujitsu.com/", target="_blank")
        img(src="app/images/fujitsu.png")
      a(href="https://ee.kumuluz.com/", target="_blank")
        img(src="app/images/kumuluzee.png")
      a(href="https://smartbear.com/", target="_blank")
        img(src="app/images/smartbear.png")
      a(href="https://oracle.com/", target="_blank")
        img(src="app/images/oracle.png")
  .card.text-image.flipped.pdf
    div
      div
        h2 Eclipse MicroProfile 1.3 is now available!
        p Version 1.3 consists of MicroProfile 1.2 plus the following updates: Config 1.2, Metrics 1.1, OpenAPI 1.0, OpenTracing 1.0, REST Client 1.0.
        p Download the specification PDF to learn more about the architecture and required APIs.
        a(href="https://github.com/eclipse/microprofile-bom/releases/download/1.3/microprofile-spec-1.3.pdf", target="_blank") Download PDF

    div
      div.image.manifesto
        img(src="app/images/1.3-Release.jpg")
  .card.text-image.white
    div
      div
        h2 Evolution of Enterprise Java
        p Enterprise Java technologies like Java EE have evolved with the industry for nearly two decades to support distributed application architectures based on RMI/IIOP, Web Services, and REST. The MicroProfile is the next step in that evolution.
    div
      div.image.evolution
        img(src="app/images/evolution.jpg")
  .card.text-image.flipped
    div
      div
        h2 The Mission
        p An open forum to optimize Enterprise Java for a microservices architecture by innovating across multiple implementations and collaborating on common areas of interest with a goal of standardization.

    div
      div.image.manifesto
        img(src="app/images/manifesto.jpg")
  div(microprofileio-card-action)
microprofileio-footer
