microprofileio-header.project
  microprofileio-project-name-description(config-file="configFile")
.page-body.project
  microprofileio-project-doc(config-file="configFile", resource="resource")
microprofileio-footer
