eeio-header.forum
  h1 Our public discussions
  h2 Every thing that happens in our #[a(href='https://groups.google.com/forum/#!forum/javaee-guardians', target="_blank") Forum]
.page-body.forum
  div
    eeio-googlegroups-shortlist
eeio-footer
