microprofileio-header.docs
  h1 All projects
.projects-subtitle
  h3 In consectetur tellus ut nulla aliquam, efficitur mattis enim sodales. Fusce hendrerit urna vel felis condimentum suscipit. Morbi pulvinar diam eget arcu fringilla, ut maximus ligula maximus
.page-body.docs
  div
    microprofileio-projects-shortlist
microprofileio-footer
