eeio-header.home
  eeio-application-page-header
.page-body.home
  .card.logos
    img(src="app/images/ljc.png")
    img(src="app/images/redhat.png")
    img(src="app/images/tomitribe.png")
    img(src="app/images/payara.png")
  .card.text-image.white
    div
      div
        h2 Evolution of Enterprise Java
        p Enterprise Java technologies like Java EE have evolved with the industry for nearly two decades to support distributed application architectures based on RMI/IIOP, Web Services, and REST. The MicroProfile is the next step in that evolution.
    div
      div.image.evolution
        img(src="app/images/evolution.jpg")
  .card.text-image.flipped
    div
      div
        h2 Mission
        p An open forum to optimize Enterprise Java for a microservices architecture by innovating across multiple implementations and collaborating on common areas of interest with a goal of standardization.

    div
      div.image.manifesto
        img(src="app/images/manifesto.jpg")
  div(eeio-card-action)
  div(eeio-card-survey)
eeio-footer
