eeio-header.home
  eeio-application-page-header(resource="resource")
.page-body.home
  .card.about
    h2 About the Site
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet sed libero
      | sed tincidunt. Sed auctor sodales venenatis. Nulla gravida, quam id rhoncus hendrerit,
      | velit mi ullamcorper leo, vitae consequat dolor sem ut velit. Aenean pretium aliquet
      | elit, sed molestie nisi malesuada ac. Praesent quis ligula sagittis, mattis arcu eget,
      | elementum nisi. Ut viverra finibus dictum. Vestibulum ante ipsum primis in faucibus
      | orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet,
      | consectetur adipiscing elit. Vivamus ac lobortis ex, at blandit lectus. Donec
      | consectetur vehicula scelerisque. Vivamus sit amet finibus libero, quis suscipit
      | massa.
  .card.logos
    img(src="https://placehold.it/100x100")
    img(src="https://placehold.it/100x100")
    img(src="https://placehold.it/100x100")
    img(src="https://placehold.it/100x100")
    img(src="https://placehold.it/100x100")
  .card.text-image
    div
      h2 Header
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet sed libero
        | sed tincidunt. Sed auctor sodales venenatis. Nulla gravida, quam id rhoncus hendrerit,
        | velit mi ullamcorper leo, vitae consequat dolor sem ut velit. Aenean pretium aliquet
        | elit, sed molestie nisi malesuada ac.
      p Duis ultrices aliquet lectus ut ullamcorper. Cras non mauris quis nibh scelerisque
        | finibus nec sit amet lectus. Fusce aliquet, enim et vulputate pretium, est ligula
        | pharetra urna, nec semper sapien tellus quis turpis. Duis tempor ipsum ut lectus
        | egestas interdum. Sed euismod est orci, eget pretium purus rhoncus non. Nam varius
        | ligula tortor, ac malesuada mi luctus vitae. Maecenas id velit erat. In non felis
        | rutrum, tempor risus sed, imperdiet justo.
    img(src="https://placehold.it/200x200")
  .card.image-text.white
    div
      h2 Header
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet sed libero
        | sed tincidunt. Sed auctor sodales venenatis. Nulla gravida, quam id rhoncus hendrerit,
        | velit mi ullamcorper leo, vitae consequat dolor sem ut velit. Aenean pretium aliquet
        | elit, sed molestie nisi malesuada ac.
      p Duis ultrices aliquet lectus ut ullamcorper. Cras non mauris quis nibh scelerisque
        | finibus nec sit amet lectus. Fusce aliquet, enim et vulputate pretium, est ligula
        | pharetra urna, nec semper sapien tellus quis turpis. Duis tempor ipsum ut lectus
        | egestas interdum. Sed euismod est orci, eget pretium purus rhoncus non. Nam varius
        | ligula tortor, ac malesuada mi luctus vitae. Maecenas id velit erat. In non felis
        | rutrum, tempor risus sed, imperdiet justo.
    img(src="https://placehold.it/200x200")
  .card.image-text
    div
      h2 Header
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet sed libero
        | sed tincidunt. Sed auctor sodales venenatis. Nulla gravida, quam id rhoncus hendrerit,
        | velit mi ullamcorper leo, vitae consequat dolor sem ut velit. Aenean pretium aliquet
        | elit, sed molestie nisi malesuada ac.
      p Duis ultrices aliquet lectus ut ullamcorper. Cras non mauris quis nibh scelerisque
        | finibus nec sit amet lectus. Fusce aliquet, enim et vulputate pretium, est ligula
        | pharetra urna, nec semper sapien tellus quis turpis. Duis tempor ipsum ut lectus
        | egestas interdum. Sed euismod est orci, eget pretium purus rhoncus non. Nam varius
        | ligula tortor, ac malesuada mi luctus vitae. Maecenas id velit erat. In non felis
        | rutrum, tempor risus sed, imperdiet justo.
    img(src="https://placehold.it/200x200")
  .card.email
    div
      h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      div
        input(type="text", placeholder="Email Address")
        div
      div
        span nec semper sapien tellus
      button BIG BUTTON
  .card.more-info
    h2 More info can go here
    h3 Duis ultrices aliquet lectus ut ullamcorper. Cras non mauris quis nibh scelerisque finibus nec sit amet lectus.
    div
      .info-item
        div
          i.fa.fa-battery-quarter
        h3 TITLE
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet sed libero
          | sed tincidunt. Sed auctor sodales venenatis.
      .info-item
        div
          i.fa.fa-battery-half
        h3 TITLE
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet sed libero
          | sed tincidunt. Sed auctor sodales venenatis.
      .info-item
        div
          i.fa.fa-battery-full
        h3 TITLE
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet sed libero
          | sed tincidunt. Sed auctor sodales venenatis.
  .card.survey
    h2 Take a quick Survey
    h3 Duis ultrices aliquet lectus ut ullamcorper. Cras non mauris quis nibh scelerisque finibus nec sit amet lectus.
    div
      div
        .question
          h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit?
          label
            input(type="checkbox")
            span consectetur adipiscing elit
          label
            input(type="checkbox")
            span auctor sodales venenatis
          label
            input(type="checkbox")
            span maecenas aliquet sed libero
          label
            input(type="checkbox")
            span sapien tellus quis turpis
        .question
          h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit?
          label
            input(type="checkbox")
            span consectetur adipiscing elit
          label
            input(type="checkbox")
            span auctor sodales venenatis
          label
            input(type="checkbox")
            span maecenas aliquet sed libero
          label
            input(type="checkbox")
            span sapien tellus quis turpis
        .question
          h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit?
          label
            input(type="checkbox")
            span consectetur adipiscing elit
          label
            input(type="checkbox")
            span auctor sodales venenatis
          label
            input(type="checkbox")
            span maecenas aliquet sed libero
          label
            input(type="checkbox")
            span sapien tellus quis turpis
        .question
          h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit?
          label
            input(type="checkbox")
            span consectetur adipiscing elit
          label
            input(type="checkbox")
            span auctor sodales venenatis
          label
            input(type="checkbox")
            span maecenas aliquet sed libero
          label
            input(type="checkbox")
            span sapien tellus quis turpis
        .question
          h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit?
          label
            input(type="checkbox")
            span consectetur adipiscing elit
          label
            input(type="checkbox")
            span auctor sodales venenatis
          label
            input(type="checkbox")
            span maecenas aliquet sed libero
          label
            input(type="checkbox")
            span sapien tellus quis turpis
        .question
          h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit?
          label
            input(type="checkbox")
            span consectetur adipiscing elit
          label
            input(type="checkbox")
            span auctor sodales venenatis
          label
            input(type="checkbox")
            span maecenas aliquet sed libero
          label
            input(type="checkbox")
            span sapien tellus quis turpis
      button SUBMIT

eeio-footer
