eeio-header.home
  eeio-application-page-header(resource="resource")
.page-body.home
  .card.logos
    img(src="https://placehold.it/100x100")
    img(src="https://placehold.it/100x100")
    img(src="https://placehold.it/100x100")
    img(src="https://placehold.it/100x100")
    img(src="https://placehold.it/100x100")
  .card.text
    div
      h2 Evolution of Enterprise Java
      p Enterprise Java technologies like Java EE have evolved with the industry for nearly two
        | decades to support distributed application architectures based on Corba and RMI/IIOP,
        | Web Services, and REST. The MicroProfile is the next step in that evolution.
  .card.text-image
    div
      div
        h2 Manifesto
        p To provide an open forum to optimize Enterprise Java for a microservices architecture
          | by innovating across multiple implementations and collaborating on common areas of interest
          | with a goal of standardization through one or more JSRs submitted to the JCP.

    div
      img(src="https://placehold.it/200x200")
  div(eeio-card-action)
  div(eeio-card-survey)
  div(eeio-card-twitter)
eeio-footer
