<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0" metadata-complete="false">

  <display-name>javaee.io</display-name>

  <!-- The trick is to put all your static files under the same directory and map the "default" servlet to it -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>

  <!-- Any other request will point to the "index.html" page. This way angularjs will be abe to manage page
      transitions at the client side in case the user starts the application from a permalink. -->
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
