@import "variables"

div[eeio-card-twitter]
  background-color: #e5e6e8
  > div
    overflow: hidden
    display: flex
    flex-direction: column
    align-items: center
    > div.navigator
      display: flex
      justify-content: center
      align-items: center
      margin: 0 0 80px 0
      > i
        margin: 0 3px
        &:hover
          cursor: pointer
        &.fa-circle
          color: $app-hover-color
    > div.tweets
      width: 100%
      transition: all 1s ease-in-out
      display: flex
      > div // loop tweets
        width: 100%
        flex-shrink: 0
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 80px 120px 0 120px
        @media (max-width: 500px)
          padding: 80px 20px 0 20px
        > div
          max-width: 600px
          > div.tweet
            padding: 50px 0
            display: flex
            flex-direction: column
            align-items: center
            p
              text-align: center
            > a
              display: block
              font-weight: 200
              > p
                font-size: 1.5em
                font-style: italic
            > p
              font-size: .8em
              font-weight: 300
            > div
              width: 80px
              border: solid #f3e0a5 1px
              margin-top: 10px
              margin-bottom: 20px
            > i
              color: #45a2ef
              font-size: 70px
              margin-bottom: 30px
