@import "variables"

div[microprofileio-card-survey]
  $container-height-first: 1150px
  $container-height: 2100px
  > div
    display: flex
    @media (max-width: 970px)
      flex-direction: column
    > iframe
      flex-grow: 1
      height: $container-height
      @media (max-width: 970px)
        &:first-of-type
          height: $container-height-first
