@import "variables"

div[eeio-card-survey], div[eeio-card-survey-aspects]
  $wrap-width: 1000px
  > div
    display: flex
    @media (max-width: $wrap-width)
      display: block
    > iframe
      width: 50%
      height: 2050px
      @media (max-width: $wrap-width)
        width: 100%
        &:first-of-type
          height: 1200px

