@import "variables"

> eeio-header.home
  > div
    height: 675px
    @media screen and (max-width: 500px)
      height: 100vh
    eeio-application-page-header
      > div
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        h1
          font-size: 2.875em
          font-weight: 400
          margin: 0
        h2
          font-size: 1.5em
          font-weight: 300
          margin: 0
          font-style: italic
        h3
          font-size: 1.5em


> div.page-body
  &.home
    background-color: $app-bg-white
    > div.card
      h2
        margin: 70px 0 0.94286em 0
        line-height: 48px
        font-size: 2.1875em
      p
        font-size: 1em
        line-height: 1.9em
        margin: 0 0 70px 0
      *
        margin: 0
        font-weight: 300
        color: $app-black
      &.logos
        display: flex
        justify-content: center
        flex-wrap: wrap
        background-color: $app-hover-color
        > img
          display: block
          margin: 5px 20px
          width: auto
          height: 70px
          @media screen and (max-width: 1000px)
            height: 65px
          @media screen and (max-width: 900px)
            height: 60px
          @media screen and (max-width: 800px)
            height: 55px
            margin: 5px 15px
          @media screen and (max-width: 700px)
            height: 50px
            margin: 5px 10px
          @media screen and (max-width: 600px)
            height: 45px
            margin: 5px
          @media screen and (max-width: 500px)
            height: 35px
      &.text-image
        display: flex
        justify-content: center
        $remove-image-width: 976px
        h2, p
          text-align: left
        > div
          flex-grow: 1
          &:first-of-type
            background-color: #e5e6e8
            display: flex
            justify-content: flex-end
            @media screen and (max-width: $remove-image-width)
              justify-content: center
            align-items: center
            > div
              padding: 0 80px
              max-width: 585px
          &:last-of-type
            background-color: #171819
            display: flex
            align-items: center
            > img
              width: auto
              height: 60vh
            @media screen and (max-width: $remove-image-width)
              display: none
        &.flipped
          flex-direction: row-reverse
          > div
            &:first-of-type // text
              justify-content: flex-start
              @media screen and (max-width: $remove-image-width)
                justify-content: center
            &:last-of-type // image
              justify-content: flex-end
              @media screen and (max-width: $remove-image-width)
                justify-content: center
        &.white
          flex-direction: row-reverse
          > div
            &:first-of-type // text
              background-color: $app-bg-white