@import "variables"

> microprofileio-header.home
  > div
    height: 675px
    @media screen and (max-width: 675px)
      height: 100vh
    microprofileio-application-page-header
      > div
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        h1
          font-size: 2.875em
          font-weight: 300
          margin: 0 0 30px 0
          letter-spacing: 5px
          font-variant-ligatures: no-common-ligatures
        h2
          font-size: 1.5em
          font-weight: 300
          margin: 0
          font-style: italic
        h3
          font-size: 1.5em

> div.page-body
  &.home
    background-color: $app-bg-white
    > div.card
      h2
        margin: 70px 0 0.94286em 0
        line-height: 48px
        font-size: 2.1875em
      p
        font-size: 1em
        line-height: 1.9em
        margin: 0 0 70px 0
      *
        margin: 0
        font-weight: 300
        color: $app-black
      &.logos
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        > div
          display: flex
          justify-content: center
          align-items: center
          flex-wrap: wrap
        background-color: $app-hover-color
        a
          display: block
          > img
            display: block
            margin: 20px 20px
            width: 80px
            height: auto
      &.text-image
        position: relative
        $remove-image-width: 900px
        height: 700px
        overflow: hidden
        background-color: #e5e6e8
        @media screen and (max-width: $remove-image-width)
          height: auto
          position: static
        div.image
          height: 100%
          width: 100%
          > img
            height: 100%
            width: auto
        h2, p
          text-align: left
        > div
          &:first-of-type
            position: absolute
            @media screen and (max-width: $remove-image-width)
              position: static
            top: 0
            bottom: 0
            left: auto
            right: 50%
            display: flex
            justify-content: flex-end
            @media screen and (max-width: $remove-image-width)
              right: 0
              justify-content: center
            align-items: center
            > div
              padding: 80px
              @media screen and (max-width: $remove-image-width)
                padding: 0 80px
              @media (max-width: 700px)
                padding: 0 40px
          &:last-of-type
            position: absolute
            @media screen and (max-width: $remove-image-width)
              position: static
            top: 0
            bottom: 0
            left: 50%
            right: auto
            @media screen and (max-width: $remove-image-width)
              display: none
        &.flipped
          div.image
            //background-position: right center
          > div
            &:first-of-type // text
              left: 50%
              right: auto
              @media screen and (max-width: $remove-image-width)
                left: 0
                right: 0
            &:last-of-type // image
              left: auto
              right: 50%
        &.white
          background-color: $app-bg-white
      &.voting
        p
          line-height: 2.1em
        p:first-of-type
          margin-bottom: 0
          font-size: 1.8em
      a
          display: inline-block
          padding: 10px 30px
          color: #ffffff
          background: $app-hover-color
          text-transform: uppercase
